<div class="container">
  <h2>Usuarios Cadastrados</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track user.id) {
        <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.fone}}</td>
        <td>
          <button class="btn-edit" (click)="editarUsuario(user)">Editar</button>
          <button class="btn-delete" (click)="excluirUsuario(user)">Excluir</button>
        </td>
      </tr>

      }
    </tbody>
  </table>

  @if (users.length === 0) {
  <div class="empty">
    Nenhum usuário encontrado.
  </div>
  }

</div>
