<div class="container">
  <h2>Usuarios Cadastrados</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th class="textalign">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (user of listUser; track user.id) {
        <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone}}</td>
        <td class="button">
            <button class="btn-edit" (click)="editarUsuario(user)">
               <i class="fas fa-edit"></i> Editar
            </button>
            <button class="btn-delete" (click)="excluirUsuario(user)">
              <i class="fas fa-trash"></i> Excluir
            </button>
        </td>
      </tr>

      }
    </tbody>
  </table>

  @if (listUser.length === 0) {
  <div class="empty">
    Nenhum usuário encontrado.
  </div>
  }

</div>
