<div class="container">
  <h2>Usuarios Cadastrados</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th class="textalign">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (user of listUser; track user.id) {
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone}}</td>
        <td class="button">
          <button class="btn-edit" (click)="editarUsuario(user)">
            <i class="fas fa-edit"></i> Editar
          </button>
          <button class="btn-delete" (click)="abrirModal(user)">
            <i class="fas fa-trash"></i> Excluir
          </button>
        </td>
      </tr>

      }
    </tbody>
  </table>

  @if (listUser.length === 0) {
  <div class="empty">
    Nenhum usuário encontrado.
  </div>
  }
  @if(exibirModal){

  <div class="modal-overlay">
    <div class="modal">
      <h3>Tem certeza que deseja excluir?</h3>
      <p>{{usuarioSelecionado.name}}</p>

      <div class="modal-buttons">
        <button (click)="confirmarExclusao()">Sim</button>
        <button (click)="fecharModal()">Cancelar</button>
      </div>
    </div>
  </div>

  }


</div>
